header{
  margin: 30px;
}

.header_container{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.button_container{
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
}

.main_logo{
  inline-size: 10px;
  block-size: 10px;
}

.nav_button{
  text-decoration: none;
}